/* Custom CSS ---------------*/

/* Global Styling ---------------*/
* { 
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

/* Clearfix ---------------*/
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* General ---------------*/
body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	color: #7f7f7f;
	background-color: #fafafa;
	font-weight: 400;
}

/* Typography ---------*/
h1, h2, h3, h4, h5, h6 {
	color: #4a4a4a;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin-bottom: 30px; 
}

section#portfolio h2 {
	margin-top: 30px;
	margin-bottom: 50px;
}

section#portfolio h2,
section#portfolio h3,
section#portfolio p {
	text-align: center;
}


section#portfolio h3 {
	padding-bottom: 20px;
}

section#portfolio p,
section#portfolio img {
	padding-bottom: 30px;
}

section#portfolio h3,
section#portfolio p {
	padding-left: 15%;
	padding-right: 15%;
}

section#portfolio h3 {
	font-size: 1.3rem;
	font-weight: 700;
}

footer {
	padding: 20px 10px 0;
}

footer a {
	color: #7f7f7f; 
}

footer a:hover {
	color: #252525; 
}

footer#contact h4 {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 30px;
}

footer#contact h4,
footer#contact p {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

footer#contact p.contact-info {
	margin-bottom: 25px;
}

footer#contact p.contact-details {
	margin-bottom: 15px;
}

footer#contact p.contact-details span {
	font-weight: bold;
}

#sub-footer a {
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.1rem;
}


/* Header ---------------*/
header #logo,
header nav {
	text-align: center;
}

/* Navigation ---------------*/
nav#main-nav ul {
	padding: 0;
	margin: 0;
}
nav#main-nav ul li {
	list-style: none;
	margin-bottom: 5px;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #4a4a4a;
	padding: 10px 15px;
	background-color: #fff;
	display: block; 
}

nav a:hover {
	background-color: #252525;
	color: #fff;
}

/* Layouts ---------*/
.main-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 0;
}

#main-nav,
#bio,
#contact {
	padding-left: 15px;
	padding-right: 15px;
}

section {
	padding-top: 6%;
	padding-bottom: 6%;
	text-align: center;
}

.flex-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column-reverse;
	-webkit-flex-direction: column-reverse;
}

/* Columns ---------*/
.col_6,
.col_4 {
	padding-left: 1%;
	padding-right: 1%;
}

/* Sections - Bio ---------*/
.profile-img {
	margin-bottom: 25px;
	width: 75%;
}

/* Sections - Portfolio ---------*/
section#portfolio {
	background-color: #fff;
	padding: 20px 10px;
}

/* Footer ---------*/
#sub-footer {
	border-top: 1px solid #dedede;
    padding-top: 20px;
    text-align: center;
}

/* Media Queries ---------*/
@media screen and (min-width: 768px) {
	/* Navigation ---------------*/
	nav#main-nav ul li {
		display: inline-block;
	}

	nav a {
		background-color: transparent;
		padding: 10px 25px;
	}

	/* Columns ---------------*/
	section#bio .col_6:nth-child(1){
		width: 60%;
		float: left;
	}

	section#bio .col_6:nth-child(2){
		width: 40%;
		float: left;
	}

	.col_4 {
		width: 50%;
		float: left;
	}

	/* Layout ---------------*/
	.flex-container {
		display: block;
	}

	/* Sections ---------------*/
	section#bio p {
		text-align: left;
	}

	.profile-img {
		width: 100%;
	}

}

@media screen and (min-width: 1024px) {
	/* Navigation ---------------*/
	#logo {
		float: left;
	}
	nav#main-nav {
		float: right;
	}

	nav#main-nav ul li {
		display: inline-block;
	}

	nav a {
		padding: 10px 15px;
	}

	/* Layouts ---------*/
	.main-wrapper {
		padding: 50px 0;
	}


	/* Columns ---------------*/
	.col_4 {
		width: 33.333333%;
		float: left;
	}

	/* Sections ---------------*/
	section {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	section#portfolio h3,
	section#portfolio p {
		padding-left: 5%;
		padding-right: 5%;
	}
}