/* Layouts ---------*/
.main-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 0;

	@media #{$brk-tablet-landscape} {
		padding: 50px 0;
	}
}

#main-nav,
#bio,
#contact {
	@extend %outerpadding;
}

section {
	@extend %sectionpadding;
	@extend %centered;

	@media #{$brk-tablet-landscape} {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

.flex-container {
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	-webkit-flex-direction: column-reverse;
}

/* Columns ---------*/
.col_6,
.col_4 {
	padding-left: 1%;
	padding-right: 1%;
}
.col_4 {
@media #{$brk-tablet-portrait} {
		width: 50%;
		float: left;
	}
@media #{$brk-tablet-landscape} {
		width: 33.333333%;
		float: left;
	}
}

/* Sections - Bio ---------*/
.profile-img {
	margin-bottom: 25px;
	width: 75%;
}

/* Sections - Portfolio ---------*/
section#portfolio {
	background-color: #fff;
	padding: 20px 10px;
}

/* Media Queries ---------*/
@media screen and (min-width: 768px) {
	/* Columns ---------------*/
	section#bio .col_6:nth-child(1){
		width: 60%;
		float: left;
	}

	section#bio .col_6:nth-child(2){
		width: 40%;
		float: left;
	}

	/* Layout ---------------*/
	.flex-container {
		display: block;
	}

	/* Sections ---------------*/
	section#bio p {
		text-align: left;
	}

	.profile-img {
		width: 100%;
	}
}