/* Main Colours ---------*/

$headingblk    : #4a4a4a;
$lightgrey     : #7f7f7f;
$darkgrey      : #252525;

/* Font Families ---------*/
$defaultfont   : 'Open Sans', arial, sans-serif;

/* Font Sizes ----------*/
$defaultsize   : 16px;


/* Media Query Break Points ----------*/

$brk-tablet-portrait  : '(min-width: 768px)';
$brk-tablet-landscape  : '(min-width: 1024px)' ;